
img{
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-bottom:59px
}
textarea{
    width: 400px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue
}
#button{
width: 862px;
background-color: rgb(39, 39, 39);
color: white
}
body{
    margin: 0;
    padding: 0;
    background: url('natur2.jpg');
    background-size: cover;
    font-family: sans-serif;

}
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 100px 40px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px; 
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type= "submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}
body{
    margin: 0;
    padding: 0;
    background: url('https://cdn.pixabay.com/photo/2018/11/06/14/01/pair-3798371_1280.jpg');
    background-size: cover;
    font-family: sans-serif;

}
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 100px 40px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px; 
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type= "submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}
body{
    background: url('sign-up.jpg');
    background-size: cover;
    font-family: Arial;
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}
h2{
    text-align: center;
}
input[type=text],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom:1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding:10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #f82626;
    opacity:0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
input[type=submit]:hover{
    background: #c5a30a;
    opacity:0.7;
}