<main class="container">
  <div class="row">
  <select name="mySelect" id="mySelect" ng-options="option.namn for option in lan track by option.id" ng-model='selected'
      ng-change='changeLan()' class="col-lg-3 col-md-12"></select>
  
      
  <select name="mySelect1" id="mySelect1" ng-options="option.namn for option in kommuner track by option.id" ng-model='selectedKommun' ng-hide="!selectedKommun" class="col-lg-3 col-md-12"> 
  </select>
  <select name="mySelect2" id="mySelect2" ng-options="option.namn for option in yrkes track by option.id" ng-model='selectedYrkes' ng-change='changeYrke()' class="col-lg-3 col-md-12">
      <!--<option ng-repeat="yrke in yrkes" id={{name.id}}>{{yrke.namn}}</option>-->
  </select>
  <select name="mySelect3" id="mySelect3" ng-options="option.namn for option in yrkesGrupper track by option.id" ng-model='selectedYrkesGrupper' ng-hide="!selectedYrkesGrupper" class="col-lg-3 col-md-12"></select>
  </div>
  </main>
  <div class="container">
  <button ng-click = 'run()' id="btn">Hitta</button>
  </div>
  
  <main class="container mt-5" ng-repeat="annons in annonser" >
  <div class="card text-center  border-dark text-white bg-secondary">
          <div class="card-header">
           {{annons.annonsrubrik}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{annons.yrkesbenamning}}</h5>
            <p class="card-text">Arbets plats namn: {{annons.arbetsplatsnamn}}</p>
            <p class="card-text">Antal plateser: {{annons.antalPlatserVisa}}</p>
            <p class="card-text">Anstälningstyp: {{annons.anstallningstyp}}</p>
            <a ng-href="{{annons.annonsurl}}" target="_blank" class="btn btn-primary">Ansök här</a>
          </div>
          <div class="card-footer text-white">
           <p>Pablicerad datum: {{annons.publiceraddatum}}</p> <br>
           <p>Sista asökningsdag: {{annons.sista_ansokningsdag}}</p>
          </div>
        </div>
      </main>