<div class="title" ng-show="user">
    <h2 id="brothers">Welcome {{user.displayName}} To Brothers Webbsida</h2>
    
    <div class="row" id="page-button">
        <a href="#!/translate" class="btnH">Translate</a>
        <a href="#!/arbetsformdligen" class="btnH">Arbetsförmedlingen</a>
    </div>
</div>
<div ng-hide="user">
    <section class="container-fluid" id="footer">
        <main class="row">
                <div class="col-sm-3 about-v">
                    <h5 class="text-center">Samer Munawwar</h5>
                    <nav>
                        <ul>
                    <li><a href=""><i class="fas fa-at"></i> Samer.mnr@gmail.com</a></li>
                            <li><a href=""><i class="fas fa-phone"></i> 0723138381</a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
     
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-3 about-v">
                    <h5 class="text-center">Motasm </h5>
                    <nav>
                        <ul>
                            <li><a href=""><i class="fas fa-at"></i></a></li>
                            <li><a href="" class="fas fa-phone"></i></a></li>
                            <li><a href=""><i class="fab fa-facebook"></i></a></li>
                            <li><a href=""><i class=“fab fa-instagram"></i></a></li>
     
                        </ul>
                    </nav>
     
                </div>
                <div class="col-sm-3 about-v">
                    <h5 class="text-center">Hesham</h5>
                    <nav>
                        <ul>
                            <li><a href=""><i class="fas fa-at"></i></a></li>
                            <li><a href=""><i class="fas fa-phone"></i></a></li>
                            <li><a href=""><i class="fab fa-facebook"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
     
                        </ul>
                    </nav>
     
                </div>
                <div class="col-sm-3 about-v">
                    <h5 class="text-center">Mohammed</h5>
                    <nav>
                        <ul>
                            <li><a href=""><i class="fas fa-at"></i></a></li>
                            <li><a href=""><i class="fas fa-phone"></i></a></li>
                            <li><a href=""><i class="fab fa-facebook"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
     
                        </ul>
                    </nav>
     
                </div>
            </main>
    </section>
            

</div>
